.about .section-subtitle {
  margin-bottom: var(--mrg-1-5);
}

.about-img {
  width: 250px;
  height: 250px;
  align-self: center;
  justify-self: center;
  background-size: cover;
  background-image: url("../../assets/laptop.png");
  box-shadow: rgba(24 26 27 / 0.3) 0px 0px 0px 9px inset;
  animation: liquid-border 8s ease-in-out infinite 1s forwards;
}

@keyframes liquid-border {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@media screen and (prefers-reduced-motion) {
  .about-img {
    animation: none;
    border-radius: 0.5rem;
  }
}

.about-desc {
  text-align: center;
  margin-bottom: var(--mrg-2);
}

/*==================== MEDIA QUERIES ====================*/
/* For medium devices */
@media screen and (min-width: 568px) {
  .about {
    .section-subtitle {
      margin-bottom: var(--mrg-2);
    }

    .about-container {
      grid-template-columns: repeat(2, 1fr);

      .about-img {
        width: 300px;
        height: 300px;
      }

      .about-desc {
        padding-top: var(--mrg-2);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .about {
    &.section {
      padding-top: 2rem;
    }

    .section-subtitle {
      margin-bottom: 1rem;
    }

    .about-container .about-desc {
      text-align: initial;
      padding-top: var(--mrg-3);
      margin-right: var(--mrg-2);
    }
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .about.section {
    padding-top: 6rem;
  }
}

@media screen and (min-width: 1440px) {
  .about.section {
    padding-top: 10rem;
  }
}
